* {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  position: relative
}

blockquote {
  margin: 4em;
}

/* sections */

#header {
  background-color: #8FCAFF;
  background: #8fcaff;
  background: -moz-linear-gradient(-45deg,  #8fcaff 53%, #f0f9ff 80%);
  background: -webkit-gradient(linear, left top, right bottom, color-stop(53%,#8fcaff), color-stop(80%,#f0f9ff));
  background: -webkit-linear-gradient(-45deg,  #8fcaff 53%,#f0f9ff 80%);
  background: -o-linear-gradient(-45deg,  #8fcaff 53%,#f0f9ff 80%);
  background: -ms-linear-gradient(-45deg,  #8fcaff 53%,#f0f9ff 80%);
  background: linear-gradient(135deg,  #8fcaff 53%,#f0f9ff 80%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8fcaff', endColorstr='#f0f9ff',GradientType=1 );

}


h1, h2, h3 {
  font-family: 'kingthings_trypewriter_2Rg';
  margin: 0.2em !important;
}

.menu > h1 {
  font-family: 'kingthings_trypewriter_2Rg';
  font-size: 3em;
}

