/* SUN STYLE */

:focus {
  outline: 0;
  }

.csstransforms .cn-wrapper {
  z-index: 25;
  position: relative;
  top: -120px;
  left: 50%;
  font-size: 1em;
  width: 26em;
  height: 26em;
  overflow: hidden;
  border-radius: 50%;
  margin-left: -13em;
  opacity: 0;
  pointer-events: none;
  -webkit-transform: scale(0.2);
  -moz-transform: scale(0.2);
  -ms-transform: scale(0.2);
  transform: scale(0.2);
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  transform: rotate(180deg);

  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;

}

.csstransforms .opened-nav {
  z-index: 2;
  border-radius: 50%;
  left: 50%;
  top: -260px;
  opacity: 1;
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
  pointer-events: auto;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  transition: all .3s ease;

  -webkit-transition: opacity 1s ease;
  -moz-transition: opacity 1s ease;
  transition: opacity 1s ease;
}

.cn-overlay {
  z-index: 1;
  width: 100%;
  height: 300px;
  background-color: rgba(255,235,124,0.6);
  position: absolute;
  top: 0px;
  left: 0;
  /*bottom: 0;*/
  right: 0;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  transition: all .3s ease;
}

.cn-overlay.on-overlay {
  visibility: visible;
  opacity: 1;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  transition: all .3s ease;
}

.cn-button {
  z-index: 3;
  position: relative;
  left: 90%;
  top: -80px;
  border: none;
  background: none;
  text-align: center;
  font-size: 1.8em;
  padding-bottom: 1em;
  height: 3.5em;
  width: 3.5em;
  margin-left: -1.75em;
  border-radius: 50%;
  cursor: pointer;
  color: #ff3d33;
  /*background-color: #ffe033;*/
  background: #ffe033;
background: -moz-radial-gradient(center, ellipse cover,  #ffe033 50%, #fff8db 100%);
background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(50%,#ffe033), color-stop(100%,#fff8db));
background: -webkit-radial-gradient(center, ellipse cover,  #ffe033 50%,#fff8db 100%);
background: -o-radial-gradient(center, ellipse cover,  #ffe033 50%,#fff8db 100%);
background: -ms-radial-gradient(center, ellipse cover,  #ffe033 50%,#fff8db 100%);
background: radial-gradient(ellipse at center,  #ffe033 50%,#fff8db 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffe033', endColorstr='#fff8db',GradientType=1 );

  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  -moz-transform: scale(1);
  transform: scale(1);

  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  transition: all .3s ease;

  -webkit-transition: top 1s ease;
  -moz-transition: top 1s ease;
  transition: top 1s ease;

  -webkit-transition: left 1s ease;
  -moz-transition: left 1s ease;
  transition: left 1s ease;

}

.stickysun {
  top: 15px;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  transition: all .3s ease;

  -webkit-transition: top 1s ease;
  -moz-transition: top 1s ease;
  transition: top 1s ease;

  -webkit-transition: left 1s ease;
  -moz-transition: left 1s ease;
  transition: left 1s ease;

}

.open-sun {
  -webkit-transform: scale(1.5);
  -moz-transform: scale(1.5);
  -ms-transform: scale(1.5);
  transform: scale(1.5);
  top: -90px;
  left: 50%;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  transition: all .3s ease;


  -webkit-transition: top 1s ease;
  -moz-transition: top 1s ease;
  transition: top 1s ease;

  -webkit-transition: left 1s ease;
  -moz-transition: left 1s ease;
  transition: left 1s ease;

}

.cn-button:hover,
.cn-button:active,
.cn-button:focus {
  color: #000;
}

.csstransforms .cn-wrapper li {
  position: absolute;
  left: 50%;
  top: 50%;
  font-size: 1.5em;
  width: 10em;
  height: 10em;
  overflow: hidden;
  margin-top: -1.3em;
  margin-left: -10em;
  -webkit-transform-origin: 100% 100%;
  -moz-transform-origin: 100% 100%;
  -ms-transform-origin: 100% 100%;
  transform-origin: 100% 100%;
  -webkit-transition: border .3s ease;
  -moz-transition: border .3s ease;
  transition: border .3s ease;
}


.csstransforms .cn-wrapper li a {
  position: absolute;
  right: -7.25em;
  bottom: -7.25em;
  display: block;
  font-size: 1.18em;
  height: 14.5em;
  width: 14.5em;
  border-radius: 50%;
  text-decoration: none;
  color: #FF7400;
  padding-top: 1.8em;
  text-align: center;
  -webkit-transform: skew(-50deg) rotate(-70deg) scale(1);
  -ms-transform: skew(-50deg) rotate(-70deg) scale(1);
  -moz-transform: skew(-50deg) rotate(-70deg) scale(1);
  transform: skew(-50deg) rotate(-70deg) scale(1);
  -webkit-backface-visibility: hidden;
  -webkit-transition: opacity 0.3s, color 0s;
  -moz-transition: opacity 0.3s, color 0s;
  transition: opacity 0.3s, color 0s;
}

.csstransforms .cn-wrapper li a span {
  font-size: 1.1em;
  opacity: 0.7;
}

/* for a central angle x, the list items must be skewed by 90-x degrees
in our case x=40deg so skew angle is 50deg
items should be rotated by x, minus (sum of angles - 180)2s (for this demo) */

.csstransforms .cn-wrapper li:first-child {
  -webkit-transform: rotate(-10deg) skew(50deg);
  -ms-transform: rotate(-10deg) skew(50deg);
  -moz-transform: rotate(-10deg) skew(50deg);
  transform: rotate(-10deg) skew(50deg);
}

.csstransforms .cn-wrapper li:nth-child(2) {
  -webkit-transform: rotate(30deg) skew(50deg);
  -ms-transform: rotate(30deg) skew(50deg);
  -moz-transform: rotate(30deg) skew(50deg);
  transform: rotate(30deg) skew(50deg);
}

.csstransforms .cn-wrapper li:nth-child(3) {
  -webkit-transform: rotate(70deg) skew(50deg);
  -ms-transform: rotate(70deg) skew(50deg);
  -moz-transform: rotate(70deg) skew(50deg);
  transform: rotate(70deg) skew(50deg)
}

.csstransforms .cn-wrapper li:nth-child(4) {
  -webkit-transform: rotate(110deg) skew(50deg);
  -ms-transform: rotate(110deg) skew(50deg);
  -moz-transform: rotate(110deg) skew(50deg);
  transform: rotate(110deg) skew(50deg);
}

.csstransforms .cn-wrapper li:nth-child(5) {
  -webkit-transform: rotate(150deg) skew(50deg);
  -ms-transform: rotate(150deg) skew(50deg);
  -moz-transform: rotate(150deg) skew(50deg);
  transform: rotate(150deg) skew(50deg);
}

.csstransforms .cn-wrapper li:nth-child(odd) a {
  /*background-color: #FFE033;*/
  /*background-color: hsla(0, 88%, 63%, 1);*/

  background: #ffe033;
background: -moz-radial-gradient(center, ellipse cover,  #ffe033 50%, #fff8db 100%);
background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(50%,#ffe033), color-stop(100%,#fff8db));
background: -webkit-radial-gradient(center, ellipse cover,  #ffe033 50%,#fff8db 100%);
background: -o-radial-gradient(center, ellipse cover,  #ffe033 50%,#fff8db 100%);
background: -ms-radial-gradient(center, ellipse cover,  #ffe033 50%,#fff8db 100%);
background: radial-gradient(ellipse at center,  #ffe033 50%,#fff8db 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffe033', endColorstr='#fff8db',GradientType=1 );
}

.csstransforms .cn-wrapper li:nth-child(even) a {
  /*background-color: #FFF08F;*/
 /* background-color: hsla(0, 88%, 65%, 1);*/


 background: #fff8db;
background: -moz-radial-gradient(center, ellipse cover,  #fff8db 0%, #ffe772 78%, #ffe033 100%);
background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#fff8db), color-stop(78%,#ffe772), color-stop(100%,#ffe033));
background: -webkit-radial-gradient(center, ellipse cover,  #fff8db 0%,#ffe772 78%,#ffe033 100%);
background: -o-radial-gradient(center, ellipse cover,  #fff8db 0%,#ffe772 78%,#ffe033 100%);
background: -ms-radial-gradient(center, ellipse cover,  #fff8db 0%,#ffe772 78%,#ffe033 100%);
background: radial-gradient(ellipse at center,  #fff8db 0%,#ffe772 78%,#ffe033 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fff8db', endColorstr='#ffe033',GradientType=1 );

}

/* active style */
.csstransforms .cn-wrapper li.active a {
  /*background-color: #FF3D33;*/
  /*background-color: hsla(0, 88%, 70%, 1);*/

  background: #ff8e2b;
background: -moz-linear-gradient(-45deg,  #ff8e2b 0%, #ff9e4f 50%, #ff7003 51%, #ff7409 71%, #ff6f0f 100%);
background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#ff8e2b), color-stop(50%,#ff9e4f), color-stop(51%,#ff7003), color-stop(71%,#ff7409), color-stop(100%,#ff6f0f));
background: -webkit-linear-gradient(-45deg,  #ff8e2b 0%,#ff9e4f 50%,#ff7003 51%,#ff7409 71%,#ff6f0f 100%);
background: -o-linear-gradient(-45deg,  #ff8e2b 0%,#ff9e4f 50%,#ff7003 51%,#ff7409 71%,#ff6f0f 100%);
background: -ms-linear-gradient(-45deg,  #ff8e2b 0%,#ff9e4f 50%,#ff7003 51%,#ff7409 71%,#ff6f0f 100%);
background: linear-gradient(135deg,  #ff8e2b 0%,#ff9e4f 50%,#ff7003 51%,#ff7409 71%,#ff6f0f 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff8e2b', endColorstr='#ff6f0f',GradientType=1 );

}

/* hover style */
.csstransforms .cn-wrapper li:not(.active) a:hover,
.csstransforms .cn-wrapper li:not(.active) a:active,
.csstransforms .cn-wrapper li:not(.active) a:focus {
  color: #FFF;

  background-color: #FF3D33;
  /*background-color: hsla(0, 88%, 70%, 1);*/

  background: #ff8e2b;
background: -moz-linear-gradient(-45deg,  #ff8e2b 0%, #ff9e4f 50%, #ff7003 51%, #ff7409 71%, #ff6f0f 100%);
background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#ff8e2b), color-stop(50%,#ff9e4f), color-stop(51%,#ff7003), color-stop(71%,#ff7409), color-stop(100%,#ff6f0f));
background: -webkit-linear-gradient(-45deg,  #ff8e2b 0%,#ff9e4f 50%,#ff7003 51%,#ff7409 71%,#ff6f0f 100%);
background: -o-linear-gradient(-45deg,  #ff8e2b 0%,#ff9e4f 50%,#ff7003 51%,#ff7409 71%,#ff6f0f 100%);
background: -ms-linear-gradient(-45deg,  #ff8e2b 0%,#ff9e4f 50%,#ff7003 51%,#ff7409 71%,#ff6f0f 100%);
background: linear-gradient(135deg,  #ff8e2b 0%,#ff9e4f 50%,#ff7003 51%,#ff7409 71%,#ff6f0f 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff8e2b', endColorstr='#ff6f0f',GradientType=1 );

}
.csstransforms .cn-wrapper li:not(.active) a:focus
{
    position:fixed;
}
 

/* fallback */
.no-csstransforms .cn-button {
  display: none;
}

.no-csstransforms .cn-wrapper li {
  position: static;
  float: left;
  font-size: 1em;
  height: 5em;
  width: 5em;
  background-color: #eee;
  text-align: center;
  line-height: 5em;
}

.no-csstransforms .cn-wrapper li a {
  display: block;
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: inherit;
  font-size: 1.3em;
  border-right: 1px solid #ddd;
}

.no-csstransforms .cn-wrapper li a:last-child {
  border: none;
}

.no-csstransforms .cn-wrapper li a:hover,
.no-csstransforms .cn-wrapper li a:active,
.no-csstransforms .cn-wrapper li a:focus {
  background-color: white;
}

.no-csstransforms .cn-wrapper li.active a {
  background-color: #6F325C;
  color: #fff;
}

.no-csstransforms .cn-wrapper {
  font-size: 1em;
  height: 5em;
  width: 25.15em;
  margin-left: -12.5em;
  bottom: 0;
  overflow: hidden;
  position: fixed;
  z-index: -1;
  left: 50%;
  border: 1px solid #ddd;
}
